@page
@model laboratory_12.Pages.Loans.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.MemberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.MemberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loan.LoanDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loan.LoanDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Loan.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
